*
    font-family "Microsoft YaHei"

h1,h2,h3,h4,p
    margin 0

.container-box
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background-color bgGray
    overflow auto
    padding-top 20px