/*语音播报列表*/
.broadcast-container 
    >.el-col
        &:first-child
            >.el-button
                float right
                padding 0
                margin-right 2%
                margin-bottom 15px
            .el-card
                .el-checkbox
                    float left
                .el-button
                    float left
                    margin-top -5px
                    &:nth-child(2)
                        margin-left 2%
    .el-card
        width 80%
        margin-left 10%
        margin-bottom 20px
        .el-card__header
            float left
            width 100%
            .el-col
                .el-checkbox
                    float left
                    margin-top 6px
                .el-tag
                    float left
                    margin-left 15px
                    h4
                        text-align left
                .el-button
                    float right
        .el-card__body
            float left
            width 100%
            .el-col
                &:first-child
                    .broadcast-content
                        word-break keep-all
                        white-space nowrap
                        overflow hidden
                        text-overflow ellipsis
                &:nth-child(2)
                    margin-top 20px
                    .el-button
                        i
                            font-size 20px
                    audio
                        width 100%
                        float left
                    video
                        float left
                &:last-child
                    .el-button
                        margin-top 19px
                        font-size 14px
                

/*语音播报详情*/
.broadcast-edit-container
    .el-card
        .el-card__body
            >.el-col
                &:first-child
                    .el-button
                        float left
                        i
                            font-size 16px
                            font-weight bold
            .el-form
                padding-left 15%
                padding-top 15px
                padding-right 10%
                .el-form-item__content
                    .el-tag
                        float left
                    h3
                        text-align left
                        margin-top 65px
                    p
                        margin-top 50px
                        text-align left
                    .el-textarea
                        margin-top 24px
                        .el-textarea__inner
                            line-height 35px
                    &:last-child
                        >.el-button
                            float right
                            font-size 14px
                            margin-left 2%
                            margin-top 15px
                        .el-col
                            margin-top 20px
                            .el-button
                                float left
                                position relative
                                z-index 1
                            .el-progress
                                margin-top 10px
                            audio
                                width 100%
                        
